body, html {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: #fff;
    background: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

.board-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.member {
    background: rgba(255, 255, 255, 0.1); /* slightly transparent white background */
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    width: 300px; /* Fixed width for consistency */
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.member h2, .member p {
    margin: 10px 0;
    color: #FFF;
}

@media (max-width: 900px) {
    .board-container {
        width: 94%;
        padding: 15% 3%;
    }

    .member {
        width: 100%; /* Full width on smaller screens */
    }
}
